@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

/* --------------------- Global --------------------- */
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2rem;
    line-height: 1.1;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 10px 20px;
    font-size: 1rem;
    font-family: inherit;
    color: #ffffff;
    background-color: #2b80c5;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    color: inherit;
    border-color: #646cff;
    background-color: #ffffff;
}

/* --------------------- Header --------------------- */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.header__logo {
    height: 5rem;
    padding: 1.25rem;
    margin-right: auto;
    will-change: filter;
    transition: filter 300ms;
}
  
.header__logo:hover {
    filter: drop-shadow(0 0 2rem #646cffaa);
}

.header__nav-items {
    list-style: none;
}

.header__nav-items li {
    display: inline-block;
    padding: 0 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}
  
.header__nav-items li a {
    font-weight: 500;
    color: inherit;
    text-decoration: none;
}
  
.header__nav-items li a:hover {
    color: #535bf2;
} 
  
/* --------------------- Entry ---------------------- */
.entry__logo {
    height: 5rem;
    padding: 1.25rem;
    margin-right: auto;
    will-change: filter;
    transition: filter 300ms;
}

.entry__logo:hover {
    filter: drop-shadow(0 0 2rem #090f72aa);
}
  
.entry__logo--vanilla:hover {
    filter: drop-shadow(0 0 2rem #f7df1eaa);
}

.entry__card {
    padding: 2rem;
}
  
.entry__read-the-docs {
    color: #888;
}

#start-button{
    font-size: 2rem;
}

.hidden {
    display: none;
}

/* --------------------- Editor --------------------- */

.editor{
    margin: 0 auto;
    width:800px;
}

.editor__nav {
    padding: 0;
}

.editor__control-buttons {
    padding: 0px 0px;
}

.editor__control-buttons li{
    display:inline-block;
    padding: 0px 20px;
}

.editor__control-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 10px 20px;
    font-size: 1rem;
}

.editor__icon{
    margin-right: 5px;
}

.editor__container {
    min-height: 600px;
    margin: 20px auto;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.editor__header {
    text-align: left;
    padding: 10px 15px;
    background-color: #353232;
}

.editor__ids-info {
    color: #aaa;
    margin-left: 5px;
}

.editor__metadata {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #333;
}

.editor__metadata-item {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    color: #aaa;
}

.editor__icon--metadata {
    color: #6a9fb5;
}

.editor__metadata-value {
    font-weight: 500;
}

.editor__body {
    display: flex;
}

.editor__gutter {
    width: 50px;
    min-height: 600px;
    background-color: #333;
    border-right: 1px solid #333;
}

.editor__button {
    background-color: inherit;
    height: 50px;
    width: 100%;
}

/* --------------- Requirement Section -------------- */

.section {
    margin: 10px 0px 10px 30px;
    padding: 10px;
    text-align: left;
}

.spec-contents, .applicables, .requirements {
    margin-left: 30px;
}

.section h2 {
    margin: 0px 0px 15px 0px;
}

.section h3 {
    font-style: italic;
    margin: 0px 0px 15px 30px;
}

.section__editable {
    border-radius: 4px;
    border: 1px solid transparent;
}

.section__editable:hover {
    color: inherit;
    border-color: #646cff;
    background-color: #ffffff;
}

.section__editable:focus {
    background-color:#cad9e6;
}

.description{
    margin-top: 0px;
}

.facet{
    margin: 0px 0px 15px 30px;
    display: inline-block;
}

.section__separator {
    height: 2px;
    background-color: #000000;
    margin: 10px 0;
}

/* ------------------------ ------------------------- */
